{{ define "main" }}

<article class="post">
	<header>
		<div class="title">
			<h2>404</h2>
			<p>Pagina is niet gevonden</p>
		</div>
		<div class="meta">
			<time class="published" datetime="2015-10-18">October 18, 2015</time>
			<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
		</div>
	</header>
	<section>
		<p>De pagina die u zoekt is niet gevonden.</p>
	</section>
	<footer>
		<ul class="actions">
			<li><a href="{{ "" | relLangURL }}" class="button large">Ga terug naar de startpagina</a></li>
		</ul>
	</footer>
</div>

{{ end }}