{{- $recent := (where .Site.RegularPages "Type" "in" "nieuws") }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}
{{- $news := sort $recent ".Params.date" "asc" }}

{{- if $news }}
<div class="widget-recent widget">
	<h4 class="widget__title">Laatste nieuws</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range first $recent_num $news }}
			<li class="widget__item">
				<a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
			</li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}