{{ define "main" }}

{{- if .Title }}
{{ partial "post_header.html" . }}
{{- end }}
{{- with .Content }}
{{ . }}
{{- end }}

{{- $activities := where site.RegularPages "Type" "activiteiten" -}}
{{- $activities := sort $activities ".Params.event_date" "asc" -}}

<!-- Custom pagination because of sorting on event_date -->
{{ $paginator := (.Paginate $activities 10) }}
{{ range $paginator.Pages }}
	{{- .Render "summary" }}
{{- end }}
<!-- Pagination -->
{{ block "pagination" . }}{{ partial "pagination.html" . }}{{ end }}
{{ end }}