{{- if .Params.event_date }}
<div class="meta__item-datetime meta__item">
	{{ partial "svg/time.svg" (dict "class" "meta__icon") -}}
	<time class="meta__text" date="{{ .Params.event_date | time | dateFormat "2006-01-02" }}">
		{{- .Params.event_date | time | dateFormat ":date_long" -}}
	</time>
	van
	<time class="meta__text" datetime="{{ .Params.event_date_start_time | time | dateFormat "2006-01-02T15:04:05Z07:00" }}">
		{{- .Params.event_date_start_time | time | dateFormat "15:04" -}}
	</time>
	tot
	<time class="meta__text" datetime="{{ .Params.event_date_end_time | time | dateFormat "2006-01-02T15:04:05Z07:00" }}">
		{{- .Params.event_date_end_time | time | dateFormat "15:04" -}}
	</time>
</div>
{{- end }}