{{- if not .Date.IsZero }}
<div class="meta">
    <time class="published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date | dateFormat (.Site.Params.dateformat | default "January 02, 2006") -}}
    </time>
    {{- if ne .Date .Lastmod }}
    <time class="published" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">(
        Laatst aangepast: {{ .Lastmod | dateFormat (.Site.Params.dateformat | default "January 02, 2006") -}}
    )</time>
    {{- end -}}
    {{- with .Params.Author }}
        <a href="#" class="author"><span class="name">{{ . }}</span><!-- <img src="images/avatar.jpg" alt="" /> --></a>
    {{- end }}
</div>
{{ end -}}