<section>
    {{ $now := now }}
    {{ $recent := where .Site.RegularPages "Type" "in" "activiteiten" }}
    {{ $recent_with_date := where $recent ".Params.event_date" "!=" nil }}
    {{ $upcoming := slice }}
    {{ range $recent_with_date }}
    {{ if ge (time .Params.event_date) $now }}
        {{ $upcoming = $upcoming | append . }}
    {{ end }}
    {{ end }}
    {{ $activiteiten := sort $upcoming "Params.event_date" "asc" }}
	{{- if $activiteiten -}}
		<h1>Komende activiteiten</h1>
		{{- with ($activiteiten | first 3) -}}
        <ul class="posts">
			{{- range . }}
            <li>
                <article>
                    <header>
                        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                        <time class="published" datetime="{{- .Params.event_date | time | dateFormat ":date_long" -}}">
                            {{- .Params.event_date | time | dateFormat ":date_long" }}
                        </time>
                    </header>
                    {{ $image := .Resources.Get .Params.Image }}
                    {{- if $image }}
                        {{ $image := $image.Fill "256x256" }}
                        <a href="{{ .RelPermalink }}" class="image"><img src="{{ $image.RelPermalink }}" /></a>
                    {{ end -}}
                </article>
            </li>
			{{- end }}
        </ul>
		{{- end }}
	{{- end }}
</section>